<div class="container">
  <div class="sub-cont">
    <div class="head"><h2>Payment Form</h2></div>
    
    <div class="recipient-cont">
      <div class="recipient-input">
        <label>Receiver Name</label><br>
        <input type="text" (input)="onNameInput($any($event.target).value)">
      </div>
      <div class="recipient-display">
        <label for="Reciever Name">Receiver Name</label><br>
        <input type="text" [value]="receiverName | titlecase">
      </div>
    </div>

    <div class="date-sent">
      <div class="sent-input">
        <label>Payment Date</label><br>
        <input type="date" (input)="onDateInput($any($event.target).value)">
      </div>
      <div class="sent-display">
        <label for="Reciever Name">Payment Date</label><br>
        <input type="text" [value]="dateVal | date: 'd MMM y'">
      </div>
    </div>

    <div class="amount-sent">
      <div class="amount-input">
        <label>Amount</label><br>
        <input type="text" (input)="onAmountInput($any($event.target).value)">
      </div>
      <div class="amount-display">
        <label>Amount</label><br>
        <input type="text" [value]="amount | currency: 'GBP'">
      </div>
    </div>
  </div>
</div>